[Desktop Entry]
Name=LiVES
Comment=Linux Video Encoding System
Comment[pl]=Edytor plików wideo
Exec=lives
Terminal=false
Type=Application
Categories=GTK;Video;AudioVideoEditing;
# vi: encoding=utf-8
